! -- Termname overrides -- !
! urxvt*termName: urxvt
!urxvt*termName: screen-256color
XTerm*termName: xterm-256color

! -- Colours -- !
! Base16 Monokai
! Scheme: Wimer Hazenberg (http://www.monokai.nl)
#define base00 #272822
#define base01 #383830
#define base02 #49483e
#define base03 #75715e
#define base04 #a59f85
#define base05 #f8f8f2
#define base06 #f5f4f1
#define base07 #f9f8f5
#define base08 #f92672
#define base09 #fd971f
#define base0A #f4bf75
#define base0B #a6e22e
#define base0C #a1efe4
#define base0D #66d9ef
#define base0E #ae81ff
#define base0F #cc6633

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05
*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05
*.color8:       base03
*.color9:       base09
*.color10:      base01
*.color11:      base02
*.color12:      base04
*.color13:      base06
*.color14:      base0F
*.color15:      base07

! -- Fonts -- !
urxvt*font: xft:Ubuntu Mono:regular:pixelsize=18:autohint=true
urxvt*boldFont: xft:Ubuntu Mono:bold:pixelsize=18:autohint=true
urxvt*italicFont: xft:Ubuntu Mono:italic:pixelsize=18:autohint=true
urxvt*bolditalicFont: xft:Ubuntu Mono:bold:italic:pixelsize=18:autohint=true

! -- URXVT specifics -- !

! IBus https://wiki.archlinux.org/index.php/IBus#rxvt-unicode
URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

!urxvt*geometry:         105x30
urxvt*transparent:      true
urxvt*internalBorder:   2
urxvt*fading:           0
urxvt*shading:          10
urxvt*tintColor:        #000000
urxvt*cursorColor:      #FD971F
urxvt*inheritPixmap:    false
urxvt*saveLines:        32767
urxvt*visualBell:       false
urxvt*urgentOnBell:     true
urxvt*scrollTtyKeypress:true
urxvt*scrollWithBuffer: false
urxvt*scrollTtyOutput:  false
urxvt*scrollBar:        false
urxvt*loginShell:       true
urxvt*cutchars:         "()*,<>[]{}|"
urxvt*print-pipe:       cat > $(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
urxvt*secondaryScroll:  true
urxvt*mapAlert:         true
urxvt*utmpInhibit:      true
URxvt*iconFile:         /usr/share/icons/Faience/apps/24/terminal.png@
urxvt*background:       rgba:0000/0000/0000/eeee
urxvt*depth:             32

URxvt.underlineURLs:   true
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher:    /usr/bin/chromium
URxvt.matcher.button:  1
URxvt.colorUL:         #86a2be

